<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {{ title }} {% endblock %}</title>
  </head>
  <body>
    <form action="/sesh" method="POST">
      <h1>{{ title }}</h1>
      <h3>{{ instructions }}</h3>
      <button type="submit">Start Survey</button>
    </form>

    {% include "flash.html" %} {% block content %} {% endblock %}
  </body>
</html>
